
*{
    margin: 0;
    padding: 0;
}
header{
    width: 80%;
    margin: 0 auto;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
.nav-btn{
    display: flex;
    gap: 20px;
}

.nav-btn button{
    background: none;
    
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* header styles */
.header-container{
    display: flex;
    align-items: start;
    gap: 150px;
}
.header-content{
    width: 50%;
}
.header-content h1{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
}
.header-content p{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
}
.header-content button{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    
}
.header-img{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
}
.header-img img{
   width: 400px;
   height: 400px;
}

/* main part styles */

main{
    width: 85%;
    border: 1px solid tomato;
    margin: 0 auto;
    margin-top: 50px;
}
.company-logo{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);   
    justify-content: space-between;
    height: 110px; 
    align-items: center;

}

/* products card style  */

.products-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    
    

}
.card{
    width: 329px;
    height: 476px;
    border: 1px solid skyblue;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.card img{
    width: 100%;
}

